<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>App42PaaS Sample Python App</title>
<link href="/static/css/app_pass.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="body_wrapper">
<div class="body_inner">
  <div class="body_content">
    <div class="cloud_container">
      <div class="app_sdk_image"> <img src="/static/images/python_app_paas.png" alt="python" /></div>
      <div class="app_sdk_image_th">
        <h1>App42 PaaS Python Sample</h1>
      </div>
      <div class="massage_text_app"></div>
      <div class="cloud_button_paas"> <a href="http://app42paas.shephertz.com/dev-center/getting-started"><img src="/static/images/app-page_gt.png" alt="Get Started" / style="margin-right:20px;"></a> <a href="https://paashq.shephertz.com/login"><img src="/static/images/app-page_console.png" alt="AppHQ Console" /> </a></div>
    </div>
  </div>
</div>
<div class="powered_by_wrapper">
  <div class="powered_by_inner">
    <div class="powered_by_content">
    <table>
    <tbody>
    <tr>
     <td style="font-size:25px;"><b> Powered by :</b></td><td style="margin-right:30px;"><a href="http://app42paas.shephertz.com" alt="App42 PaaS"><img src="/static/images/app_pass_logo.png" alt="App42 Paas" /></a></td>
     </tr>
     </tbody>
     </table>
    </div>
  </div>
</div>
</body>
</html>